
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>{{msg . "app_name"}} - {{msg . "signin.button"}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">
<form class="form-signin error" method="POST" action="/login">
    <h3>{{msg . "app_name"}}</h3>
    <h1 class="h3 mb-3 font-weight-normal">{{msg . "signin.login_message"}}</h1>
    <label for="inputEmail" class="sr-only">{{msg . "signin.username_placeholder"}}</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="{{msg . "signin.username_placeholder"}}" required autofocus>
    <label for="inputPassword" class="sr-only">{{msg . "signin.password_placeholder"}}</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="{{msg . "signin.password_placeholder"}}" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{msg . "signin.button"}}</button>
    <p class="mt-5 mb-3 text-muted">{{msg . "licence_text"}}</p>
{{.flash.success}}
{{.flash.error}}
</form>
</body>
</html>
